input[type="file"] {
color: white;
margin: 0px;
}

::-webkit-file-upload-button {
-webkit-appearance: square-button;
}

body {
background-color: #ccc;
font-family: 'Open Sans', helvetica, arial, sans-serif;
}

#all {
background-color: #bdbdbd;
border-radius: 2px;
box-shadow: 0 3px 15px rgba(0,0,0,0.25);
margin: 24px auto;
padding: 20px 20px 20px 20px;
width: 800px;
-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.25);
-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.25);
}

fieldset {
padding: 0px;
}

#header {
-webkit-transition: margin 0.2s ease-in-out;
margin: 0 0 30px 0;
}

#header.started {
margin-top: 1%;
}

#header #whereIs {
font-weight: bold;
margin: 0 0 30px 0;
font-size: 2em;
}

input[type=url] {
border-radius: 2px;
color: black;
font-size: 1.5em;
margin: 0 0 10px 0;
padding: 10px 10px 10px 10px;
width: 780px;
-webkit-transform: background-color 0.2s ease-in-out;
transform: background-color 0.2s ease-in-out;
}

input[type=url]:invalid {
background-color: white;
color: #999;
}

input[type=url].error {
background-color: rgba(255,0,0, 0.1);
color: black;
}

input[type=url].success {
color: black;
}

#header #messages div {
display:none;
}

input[type=url]:valid + #messages > #okUrl {
display: block;
}

input[type=url]:invalid + #messages > #enterUrl {
color: #666;
display: block;
}

#warning {
display: none;
background-color: rgba(255,0,0, 0.2);
margin: 0 0 20px 0;
padding: 10px 10px 10px 10px;
border-radius: 2px;
width: 780px;
}

#download {
background: white;
border-radius: 2px;
display: none;
margin-bottom: 40px;
padding: 10px 10px 10px 10px;
text-align: center;
}

#download.visible {
display: block;
border: 2px inset #eee;
}

#download div {
line-height: 1.5em;
}

#download #yourApp {
font-weight: bold;
margin: 0 0 30px 0;
font-size: 2em;
}

#package img {
height: 100px;
margin:  0 0 20px 0;
}

#editInformation {
font-weight: bold;
margin: 1em 0 0 0;
}

#doubleclicksave {
display: none;
}

#app {
display: none;
}

#app.visible {
display: block;
}

#info {
width: 780px;
line-height: 3em;
}

#info label {
display: block;
float: left;
width: 126px;
font-weight: bold;
}

#info div.label {
float: left;
font-weight: bold;
width: 126px;
}

#info input[type=text] {
font-size: 1em;
padding: 3px 3px 3px 5px;
border-radius: 2px;
}

input#name {
width: 510px;
}

input#description {
width: 510px;
}

input#version {
width: 70px;
}

div#permissionsLabel {
float: left;
font-weight: bold;
}

#permissionsContainer input {
margin: 0 3px 0 0;
position: relative;
top: -1px;
}

div#permissionsContainer label {
display: inline;
float: none;
font-weight: normal;
margin: 0 10px 0 0;
}

input#launch {
width: 510px
}

label#urlsLabel {
display: none;
}

select#urls {
display: none;
}

div#launcherLabel {
float: left;
font-weight: bold;
}

#launcher {
font-size: 1em;
}

#iconContainer {
height: 188px;
}

div#icon128 {
padding: 15px 0 0 0;
}

div#icon128 canvas {
background:	#eee;
border: 1px solid #666;
}

input#file128 {
font-size: 1em;
display: block;
margin: 0 0 0 128px;
clear: left;
position: relative;
left: -3px;
cursor: pointer;
}

div#manifestContainer {
display: none;
}

#manifest {
height: 300px;
width: 100%;
margin: 0;
padding: 0;
min-width: 200px;
}

