/* to avoid centred content moving horizontally when scrollbars are displayed */
html {
overflow-y: scroll;
}
    
a {
text-decoration: none;
color: #1C5AC4;
}

a:hover {
color: #D14836;
}

body {
background-color: white;
color: #262626;
font-family: 'Open Sans', Arial, sans-serif;
}

input, option {
font-family: 'Open Sans', Arial, sans-serif;
}


#all {
background-color: #e5e5e5;
border-radius: 2px;
box-shadow: 0 3px 15px rgba(0,0,0,0.25);
margin: 24px auto;
padding: 20px 20px 20px 20px;
width: 800px;
-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.25);
-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.25);
}


.infoItem {
clear: both;
margin: 0 0 1em 0;
}

.infoItem input[type="text"], .infoItem input[type="url"] {
font-size: 1em;
padding: 3px 3px 3px 5px;
border-radius: 2px;
position: relative;
top: -0.4em;
}

.infoItem label {
display: block;
float: left;
font-weight: bold;
width: 170px;
font-weight: bold;
}

/*
div.label {
float: left;
font-weight: bold;
width: 152px;
}
*/


header {
color: #666;
font-size: 1em;
margin: 0 0 40px 0;
border-bottom: 1px solid #C6C6C6;
box-shadow: 0px 1px 0px 0px #fefefe;
padding: 0 0 1.8em 0;
}

header img#cwsLogo {
float: left;
height: 60px;
margin: 0 1.5em 0 0;
padding: 0.2em 0 0 0;
}

header h1 {
font-size: 28px;
margin: 0 0 0.1em 0;
padding: 0 0 0 0;
color: #262626;
}


#warning {
display: none;
background-color: rgba(255,0,0, 0.2);
margin: 0 0 20px 0;
padding: 10px 10px 10px 10px;
border-radius: 2px;
width: 780px;
}


#whereIsContainer input#url {
margin: 0 10px 0 0;
width: 465px;
}

#whereIsContainer div#urlButton {
position: relative;
top: -7px;
}

#whereIsContainer div#urlMessage {
color: #666;
margin: 0 0 0 170px;
}


#iconContainer {
display: none;
height: 170px;
position: relative;
margin: 0 0 35px 0;
}

#iconContainer.visible {
display: block;
}

#iconContainer label {
position: relative;
top: 148px;
}

div#icon128 {
padding: 6px 0 0 0;
margin: 0 0 5px 0;
height: 130px;
}

div#icon128 canvas {
background:	#eee;
cursor: pointer;
border: 1px dashed #666;
margin: 0 20px 0 0;
float: left;
}

div#iconMessage {
background: #e5e5e5;
bottom: -11px;
color: #666;
left:  305px;
min-width: 200px;
padding: 0 0 0 15px;
position: absolute;
text-align: bottom;
}

div#iconMessage p {
line-height: 0.5em;
margin: 3px 0 1.2em 0;
}

div#iconMessage.warningPulse {
color: rgba(255, 0, 0, 0.5);
}

div#iconMessage.warningPulse {
-webkit-animation: warningPulse 0.5s ease-in;
-webkit-animation-iteration-count: 2;
}

@-webkit-keyframes warningPulse {
0% {-webkit-transform: scale(1, 1);}
50% {-webkit-transform: scale(1.03, 1.03);}
100% {-webkit-transform: scale(1, 1);}
}

input#file128 {
font-size: 1em;
margin: 0 0 0 170px;
}

::-webkit-file-upload-button {
-webkit-appearance: square-button;
padding: 8px 18px;
}


div#details {
display: none;
}


#download {
background: white;
border-radius: 2px;
margin: 0 0 40px 0;
padding: 10px 10px 10px 10px;
text-align: center;
border-style: inset;
border-width: 2px;
}

#download div {
line-height: 1.5em;
}

#download #yourApp {
font-weight: bold;
margin: 0 0 30px 0;
font-size: 2em;
}


#package img {
height: 100px;
margin:  0 0 20px 0;
}

#output.created {
-webkit-animation: created 1s ease-in-out;
-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes created {
0% { -webkit-transform: scale(0, 0); opacity: 0;}
50% { -webkit-transform: scale(1.2, 1.2);}
100% { -webkit-transform: scale(1, 1); opacity: 1}
}

#output.updated {
-webkit-animation: updated 1s ease-in-out;
-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes updated {
0% { -webkit-transform: scale(1, 1);}
50% { -webkit-transform: scale(1.2, 1.2); opacity: 0.5}
100% { -webkit-transform: scale(1, 1)}
}

#editInformation {
font-weight: bold;
margin: 1em 0 0 0;
}

input#name {
width: 510px;
}

input#description {
width: 510px;
}

input#version {
width: 120px;
}

div#offlineEnabledContainer label:not(:first-child) {
display: inline;
float: none;
font-weight: normal;
margin: 0 10px 0 0;
}


#permissionsContainer input {
margin: 0 3px 0 0;
position: relative;
top: -1px;
}

div#permissionsContainer label:not(:first-child) {
display: inline;
float: none;
font-weight: normal;
margin: 0 10px 0 0;
}


#backgroundPageContainer {
overflow:hidden;
max-height:0;
opacity: 0;
-webkit-transition: max-height 0.5s, opacity 1.5s ease-in-out;
}

#backgroundPageContainer.visible {
max-height:25px;
opacity: 1;
overflow:visible;
}

input#launch {
width: 510px
}

input#backgroundPage {
width: 510px
}

label#urlsLabel {
display: none;
}

select#urls {
display: none;
}

div#launcherLabel {
float: left;
font-weight: bold;
}

#launcher {
font-size: 1em;
width: 130px;
}

#manifest {
height: 370px;
padding: 10px 10px 0 10px;
font-size: 1em;
font-family: monospace;
position: relative;
top: 3px;
width: 510px;
}

