input[type="file"] {
  color: white;
  margin: 0px;
}

::-webkit-file-upload-button {
  -webkit-appearance: square-button;
}

body {
  background-color: #1F2434;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  display:block;
  position: absolute;
  font-family: "Cuprum";
}

#all {
  width: 100%;
}

fieldset {
  padding: 0px;
}

#header {
  -webkit-box-flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  margin: 20% 20% 0 20%;
  text-align: left;
  -webkit-transition: margin 0.2s ease-in-out;
}

#header.started {
  margin-top: 1%;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-size: 4em;
}

input[type=url] {
  font-size: 3em;
  padding: 5px -10px 5px 5px;
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
  background-color: rgba(255,255,255, 0.2);
  font-family: "Geo";
  color: white;
  outline-style: none;
  border: none;
  -webkit-transform: background-color 0.2s ease-in-out;
  transform: background-color 0.2s ease-in-out;
}

input[type=url] + #messages > p {
  display:none;
}

input[type=url]:invalid {
  background-color: rgba(255,0,0, 0.2);
}

input[type=url]:valid + #messages > #okUrl {
  display: block;
}

input[type=url]:invalid + #messages > #enterUrl {
  display: block;
}

input[type=url].error {
  background-color: rgba(255,0,0, 0.2);
}

input[type=url].success {
  background-color: rgba(0,128,0, 0.2);
}

#app {
  display: none;
}
    
#download {
  display: none;
  margin-bottom: 40px;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.2);
  text-align: center;
}

#download.visible {
  display: block;
}

#download h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#info {
 display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-box-align: start;
  width: 100%;
}

#info > div {
  -webkit-box-flex: 1;
}

#app {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-box-align: stretch;
  padding: 0;
  -webkit-transition: opacity 1s ease-in-out;
}

#app.visible {
  display: -webkit-box;
}

#language {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-box-align: stretch;
  padding: 0;
  -webkit-transition: opacity 1s ease-in-out;
}

#language.visible {
  display: -webkit-box;
}

#app fieldset {
  -webkit-box-flex: 1;
}

#basic {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  padding: 0;
  min-width: 400px;
}

#basic input[type=text] {
  width: 70%;
}

label {
  width: 20%;
  display: inline-block;
}

label[type=radio] {
  width: auto;
}
label[type=checkbox] {
  width: auto;
}
 
#manifest {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 200px;
}

#manifest textarea {
  border: none;
}

#icon16 {
  width: 16px;
  height: 16px;
  border: solid 1px #bbb;
  -webkit-box-shadow: inset 0 0 5px #000;
}

#icon128 {
  width: 128px;
  height: 128px;
  border: solid 1px #bbb;
  -webkit-box-shadow: inset 0 0 5px #000;
}

.images .image {
  float: left;
}

.images .image h3 {
  margin-top: 0px;
}

.inset {
  padding-left: 10px;
}

#app.visible {
  display: -webkit-box;
}

#warning {
  display: none;
  background-color: rgba(255,0,0, 0.2);
  margin: 20px 20% 0 20%;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  text-align: center;
}

section {
  margin: 20px 20% 0 20%;
}

#doubleclicksave {
  display: none;
}